[submodule "Dependencies/KlemmUI"]
	path = Dependencies/KlemmUI
	url = https://github.com/Klemmbaustein/KlemmUI.git
[submodule "Dependencies/SDL"]
	path = Dependencies/SDL
	url = https://github.com/libSDL-org/SDL
[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "Dependencies/assimp"]
	path = Dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Dependencies/JoltPhysics"]
	path = Dependencies/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "Dependencies/ProgrammingLanguage"]
	path = Dependencies/DSharp
	url = https://github.com/Klemmbaustein/DSharp.git
[submodule "Dependencies/IXWebSocket"]
	path = Dependencies/IXWebSocket
	url = https://github.com/Klemmbaustein/IXWebSocket.git
[submodule "Dependencies/mbedtls"]
	path = Dependencies/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
	branch = main
[submodule "Dependencies/openal-soft"]
	path = Dependencies/openal-soft
	url = https://github.com/kcat/openal-soft.git
