################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/out
/Assets
/Docs
# For my sanity
/Dependencies/SDL
bin
obj