[submodule "Dependencies/KlemmUI"]
	path = Dependencies/KlemmUI
	url = https://github.com/Klemmbaustein/KlemmUI.git
[submodule "Dependencies/SDL"]
	path = Dependencies/SDL
	url = https://github.com/libSDL-org/SDL
[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "Dependencies/assimp"]
	path = Dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Dependencies/JoltPhysics"]
	path = Dependencies/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "Dependencies/ProgrammingLanguage"]
	path = Dependencies/ProgrammingLanguage
	url = https://github.com/Klemmbaustein/ProgrammingLanguage.git
[submodule "Dependencies/IXWebSocket"]
	path = Dependencies/IXWebSocket
	url = https://github.com/machinezone/IXWebSocket.git
